* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    padding: 1.4em;
}

header a {
    text-decoration: none;
    color: purple;
}

header a:hover {
    text-shadow: 0 0 5px rgb(255, 156, 255);
}

header p {
    color: blue;
    font-size: 1.1em;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#quiz-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: .5em;
    width: 60vw;
}

h2 {
    font-size: 1.5em;
    margin: 1em;
    text-align: center;

}

.button {
    font-size: large;
    margin: .5em;
    padding: .7em;
    width: 50%;
    word-wrap: break-word;
    text-align: left;
    background-color: purple;
    color: white;
    border-radius: .5em;
}

.button:hover {
    background-color: rgb(167, 63, 167);
    box-shadow: 0 0 5px purple;
}

#quiz-box p {
    color: rgb(131, 131, 131);
    font-size: 1.5em;
    text-align: left;
    margin: .6em;
    padding-top: .3em;

}

.results {
    text-align: center;
}

#initials {
    margin: 1em;
}

#initials:hover {
    box-shadow: 0 0 1px blue;
}

.results p {
    margin: 2em;
    font-size: 1.5em;
}

#startNext {
    width: 30%;
    text-align: center;
    margin-top: 2em;
}