* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    padding: 1.4em;
}

header a {
    text-decoration: none;
    color: purple;
}

header a:hover {
    text-shadow: 0 0 5px rgb(255, 156, 255);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .3em solid black;
    border-radius: .5em;
    width: 60vw;
    padding-bottom: 3em;
}

#quiz-box h1 {
    font-size: 1.5em;
    margin: 1em;

}

#quiz-box button {
    font-size: large;
    margin: .5em;
    padding: .7em;
    width: 50%;
    word-wrap: break-word;
    text-align: left;
    background-color: purple;
    color: white;
    border-radius: .5em;
}

#quiz-box button:hover {
    background-color: rgb(167, 63, 167);
    box-shadow: 0 0 5px purple;
}

#quiz-box p {
    color: rgb(255, 60, 222);
    font-size: 2em;
    text-align: left;
    margin: .6em;
    padding-top: .3em;

}