* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    padding: 1.4em;
}

header a {
    text-decoration: none;
    color: purple;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: blue;
    height: 40vh;
    width: 60vw;
}